<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>博客</title>
    <link rel="stylesheet" href="../../static/admin/css/layui.css" th:href="@{/admin/css/layui.css}">
</head>
<body>
<table class="layui-hide" id="userTable" lay-filter="userTable"></table>
<div id="toolbarDemo" style="display: none">
    <!--    <button class="layui-btn layui-btn-sm" lay-event="add">新增</button>-->
    <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchDelete">删除</button>
</div>
<div id="barDemo" style="display: none">
    <button class="layui-btn layui-btn-sm" lay-event="edit">编辑</button>
    <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除</button>
</div>
<div id="saveAndUpdateDiv" style="display: none; padding: 20px">
    <form action="" class="layui-form" method="post" lay-filter="datafrm" id="datafrm">
        <div class="layui-inline">
            <label class="layui-form-label">博客标题</label>
            <div class="layui-input-inline">
                <input type="text" name="title" autocomplete="off" class="layui-input" lay-verify="username">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">二维码</label>
            <div class="layui-input-inline">
                <input type="text" name="appreciation" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">博客首图</label>
            <div class="layui-input-inline">
                <input type="text" name="firstPicture" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">博客标签</label>
            <div class="layui-input-inline">
                <input type="text" name="flag" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">是否发布</label>
            <div class="layui-input-inline">
                <input type="radio" name="published" value="1" title="是">
                <input type="radio" name="published" value="0" title="否">
            </div>
        </div>
        <input type="hidden" name="id"/><!--隐藏域， 判断博客的作者-->
        <div class="layui-form-item" style="text-align: center">
            <div class="layui-input-block">
                <button class="layui-btn layui-icon layui-icon-release" type="button" id="do-update" lay-submit
                        lay-filter="dosubmit">修改
                </button>
                <button class="layui-btn layui-icon layui-icon-refresh" type="reset" id="do-reset">重置</button>
            </div>
        </div>
    </form>
</div>

<script src="../../static/admin/layui.all.js" th:src="@{/admin/layui.all.js}"></script>
</body>
</html>

<script>
    layui.use(['jquery', 'layer', 'laypage', 'form', 'table'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var tableIns = table.render({
            elem: '#userTable'
            , url: 'http://localhost:8088/admin/blogs'
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , title: '用户数据表'
            , page: true
            , limits: [5, 10, 20, 30]
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', title: '博客ID', width: 100, fixed: 'left', unresize: true, sort: true}
                    , {field: 'userId', title: '用户ID', width: 80, align: 'center'}
                    , {field: 'title', title: '博客标题', width: 100, align: 'center'}
                    , {field: 'appreciation', title: '二维码', width: 120}
                    , {field: 'firstPicture', title: '首图', width: 120}
                    , {field: 'flag', title: '博客标签', width: 150}
                    , {field: 'published', title: '是否发布', width: 100, align: 'center'}
                    , {field: 'createTime', title: '创建时间', width: 120, sort: true}
                    , {field: 'recommend', title: '点赞数目', width: 120, sort: true}
                    , {field: 'views', title: '浏览数', width: 120, sort: true}
                    , {fixed: 'right', title: '操作', width: 150, align: 'center', toolbar: '#barDemo'}
                ]
            ]
        });
        table.on("toolbar(userTable)", function (obj) {
            switch (obj.event) {
                /*case
                'add':
                    // layer.msg('add');
                    openAddUser();
                    break;*/
                case
                'batchDelete':
                    deleteSelect();
                    break;
            }
        });
        var deleteArr = [];
        /* 监听checkbox, 这里获取选中的值*/
        table.on("checkbox(userTable)", function (obj) {
            /*console.log(obj.checked);
            console.log(obj.data);
            console.log(obj.type);*/
            if (obj.type == "one") {
                if (obj.checked) {
                    deleteArr.push(obj.data.id);
                    /*var b = JSON.stringify(deleteArr)
                    console.log($.type(b));*/
                } else {
                    deleteArr.splice($.inArray(obj.data.id, deleteArr), 1);
                    console.log(deleteArr);
                }
            } else {
                layer.msg('不允许一次性清空数据库!');
            }
        });

        function deleteSelect() {
            var arrdel = JSON.stringify(deleteArr);
            $.ajax({
                type: "post",
                url: "http://localhost:8088/admin/blogdelete",
                dataType: "JSON",
                contentType: "application/json",
                data : JSON.stringify(deleteArr),
                success: function (data) {
                    alert(data);
                    if (data == 1) {
                        layer.msg('删除成功');
                        tableIns.reload();
                        deleteArr.length = 0;
                    } else {
                        layer.msg('删除失败');
                    }
                }
            });
        }

        /* 监听工具栏*/
        table.on('tool(userTable)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if (layEvent === 'del') { //删除
                layer.confirm('确定删除?', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    //向服务端发送删除指令
                    deleteOne(data);
                    layer.msg('del');
                });
            } else if (layEvent === 'edit') { //编辑
                //do something
                layer.msg('edit');
                //同步更新缓存对应的值
                openEditUser(data);
            }
        });
        /* 单个id删除 */
        function deleteOne(obj) {
            let delid = obj.id;
            $.ajax({
                type: "post",
                url: "http://localhost:8088/admin/blogdeleteone",
                dataType: "JSON",
                data : {
                    'arrDel': delid
                },
                success: function (data) {
                    alert(data);
                    if (data == 1) {
                        layer.msg('删除成功');
                        tableIns.reload();
                    } else {
                        layer.msg('删除失败');
                    }
                }
            });
        }

        var url;
        var mainIndex;

        /* 编辑功能 */
        function openEditUser(data) {
            mainIndex = layer.open({
                type: 1,
                title: '编辑用户',
                content: $("#saveAndUpdateDiv"),
                area: ['800px'],
                success: function (index) {
                    /*form.val("datafrm", data); ！！！ 大坑 : 如果有部分值要动态修改的话，其他值也得跟着一个个修改*/
                    /*console.log(data.published);*/
                    form.val('datafrm',
                        {
                            "title": data.title,
                            "appreciation": data.appreciation,
                            "firstPicture": data.firstPicture,
                            "flag": data.flag,
                            "id": data.id,/*   设置input用prop ， attr巨坑！！！*/
                            "published": $("input[name='published'][value='1']").prop("checked", data.published == true ? true : false),
                            "published": $("input[name='published'][value='0']").prop("checked", data.published == false ? true : false)
                        }
                    );
                    url = "http://localhost:8088/admin/blogedit";
                }

                /*btn:[],
                yes:function(index, layero){
                    layer.msg('save');
                },
                btn2:function(index, layero){
                    layer.msg('close');
                    return true;
                }*/

            });
        }

        /* 提交表单*/
        form.on('submit(dosubmit)', function (obj) {
            // alert(url);
            // 序列化表单数据
            var params = $('#datafrm').serialize();
            $.post(
                url,
                params,
                function (data) {
                    // alert(data);
                    if (data == 1) {
                        layer.msg('更新成功');
                    } else {
                        layer.msg('更新失败');
                    }
                    layer.close(mainIndex);
                    tableIns.reload();
                }
            )
        });
    });
</script>
