<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>后台</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
		<link rel="stylesheet" href="../../static/admin/css/layui.css" th:href="@{/admin/css/layui.css}" media="all">
		<link rel="stylesheet" href="../../static/admin/css/me.css" th:href="@{/admin/css/me.css}"/>
	</head>
	<body class="layui-layout-body">

		<div class="layui-layout layui-layout-admin">
			<!-- 头部 -->
			<div class="header">
				<div class="layui-logo">
					<h2>Leeblog</h2>
				</div>
				<ul class="layui-nav layui-layout-left">
					<li class="layui-nav-item"><a href="">控制台</a></li>
					<li class="layui-nav-item"><a href="">查看用户</a></li>
					<li class="layui-nav-item"><a href="">权限查看</a></li>
				</ul>
				<ul class="layui-nav layui-layout-right">
					<li class="layui-nav-item" lay-unselect>
					    <a href="javascript:;"><img src="//t.cn/RCzsdCq" class="layui-nav-img">
							<cite>管理员</cite>
							<span class="layui-nav-more"></span>
						</a>
					    <dl class="layui-nav-child">
					      <dd><a href="javascript:;">修改信息</a></dd>
					      <dd><a href="javascript:;">安全管理</a></dd>
					      <dd><a href="javascript:;">退了</a></dd>
					    </dl>
					</li>
					<li class="layui-nav-item">
						<a href=""><i class="layui-icon" style="color: #009688;">&#xe682;</i>&nbsp;&nbsp;注销</a>
					</li>
				</ul>
			</div>
			<!-- 侧边栏目 -->
			<div class="layui-side layui-bg-black">
				<div class="layui-side-scroll">
					<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo">
						<li class="layui-nav-item layui-nav-itemed">
							<a href="javascript:;"><i class="layui-icon" style="font-size: 15px;">&#xe68e;</i>&nbsp;&nbsp;主页</a>
							<dl class="layui-nav-child">
								<dd><a href="javascript:;">控制台</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;"><i class="layui-icon" style="font-size: 16px;">&#xe66f;</i>&nbsp;&nbsp;用户管理</a>
							<dl class="layui-nav-child">
								<dd><a href="">用户信息</a></dd>
								<dd><a href="">用户编辑</a></dd>
								<dd><a href="">删除用户</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;"><i class="layui-icon" style="font-size: 16px;">&#xe656;</i>&nbsp;&nbsp;博客管理</a>
							<dl class="layui-nav-child">
								<dd><a href="">博客内容</a></dd>
								<dd><a href="">博客分类</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item">
							<a href="javascript:;"><i class="layui-icon" style="font-size: 16px;">&#xe655;</i>&nbsp;&nbsp;标签管理</a>
							<dl class="layui-nav-child">
								<dd><a href="">标签查看</a></dd>
								<dd><a href="">标签编辑</a></dd>
							</dl>
						</li>
						<li class="layui-nav-item"><a href=""><i class="layui-icon" style="font-size: 16px;">&#xe681;</i>&nbsp;&nbsp;云上访问</a></li>
						<li class="layui-nav-item"><a href=""><i class="layui-icon" style="font-size: 16px;">&#xe60b;</i>&nbsp;&nbsp;关于</a></li>
					</ul>
				</div>

			</div>
			<!-- 主体显示 -->
			<div class="layui-body">
				<div class="layadmin-tabsbody-item layui-show">
				  <iframe src="user.html" th:src="@{/admin/useradmin}" frameborder="0" class="layadmin-iframe"></iframe>
				</div>
			</div>
			<div class="layui-footer" style="font-size: 6px;color: #aaaaaa;">
				"@计科165_14 李星"
			</div>
		</div>

		<script type="text/javascript" src="../../static/admin/layui.all.js" th:src="@{/admin/layui.all.js}"/>
		<script>
		layui.use('element', function(){
		  var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

		});
		</script>
	</body>
</html>
