<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>标签</title>
    <link rel="stylesheet" href="../../static/admin/css/layui.css" th:href="@{/admin/css/layui.css}">
</head>
<body>
<table class="layui-hide" id="userTable" lay-filter="userTable"></table>
<div id="toolbarDemo" style="display: none">
    <button class="layui-btn layui-btn-sm" lay-event="add">新增</button>
    <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchDelete">删除</button>
</div>
<div id="barDemo" style="display: none">
    <button class="layui-btn layui-btn-sm" lay-event="edit">编辑</button>
    <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="del">删除</button>
</div>
<div id="saveAndUpdateDiv" style="display: none; padding: 20px">
    <form action="" class="layui-form" method="post" lay-filter="datafrm" id="datafrm">
        <input type="hidden" name="id">
        <div class="layui-inline">
            <label class="layui-form-label">标签名</label>
            <div class="layui-input-inline">
                <input type="text" name="name" autocomplete="off" class="layui-input" lay-verify="username">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">标签分类</label>
            <div class="layui-input-inline">
                <select name="tagid" lay-verify="">
                    <option value="">请选择一个标签分类</option>
                    <option value="1">编程语言</option>
                    <option value="2">框架</option>
                    <option value="3">数据库</option>
                    <option value="4">校园</option>
                    <option value="5">其他</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item" style="text-align: center;float: left;margin-top: 20px">
            <div class="layui-input-block">
                <button class="layui-btn layui-icon layui-icon-release" type="button" id="do-update" lay-submit lay-filter="dosubmit">修改</button>
                <button class="layui-btn layui-icon layui-icon-refresh" type="reset" id="do-reset">重置</button>
            </div>
        </div>
    </form>
</div>

<script src="../../static/admin/layui.all.js" th:src="@{/admin/layui.all.js}"></script>
<script>
    layui.use(['jquery', 'layer', 'laypage', 'form', 'table'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var tableIns = table.render({
            elem: '#userTable'
            , url: 'http://localhost:8088/admin/tags'
            , toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
            , title: '用户标签表'
            , page: true
            , limits: [5, 10]
            , cols: [
                [
                    {type: 'checkbox', fixed: 'left'}
                    , {field: 'id', title: 'ID', width: 180, align: 'center', unresize: true, sort: true}
                    , {field: 'name', title: '标签名', width: 180, align: 'center'}
                    , {field: 'tagname', title: '标签分类', width: 180, align: 'center'}
                    , {fixed: 'right', title: '操作', width: 180, align: 'center', toolbar: '#barDemo'}
                ]
            ]
        });
        table.on("toolbar(userTable)", function (obj) {
            switch (obj.event) {
                case
                'add':
                    // layer.msg('add');
                    openAddUser();
                    break;
                case
                'batchDelete':
                    deleteSelect();
                    break;
            }
        });
        var deleteArr = [];
        /* 监听checkbox*/
        table.on("checkbox(userTable)", function (obj) {
            console.log(obj.checked);
            console.log(obj.data);
            console.log(obj.type);
            if (obj.type == "one") {
                if (obj.checked) {
                    deleteArr.push(obj.data.id);
                    /*var b = JSON.stringify(deleteArr)
                    console.log($.type(b));*/
                } else {
                    deleteArr.splice($.inArray(obj.data.id, deleteArr), 1);
                    console.log(deleteArr);
                }
            } else {
                layer.msg('不允许一次性清空数据库!');
            }
        });
        /* 监听工具栏*/
        table.on('tool(userTable)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if (layEvent === 'del') { //删除
                layer.confirm('确定删除?', function (index) {
                    obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    //向服务端发送删除指令
                    deleteOne(data);
                });
            } else if (layEvent === 'edit') { //编辑
                //do something
                layer.msg('edit');
                //同步更新缓存对应的值
                openEditUser(data);
            }
        });
        /* 单个id删除 */
        function deleteOne(obj) {
            var delid = obj.id;
            $.ajax({
                type: "post",
                url: "http://localhost:8088/admin/tagdeleteone",
                dataType: "JSON",
                data: {
                    'arrDel': delid
                },
                success: function (data) {
                    alert(data);
                    if (data == 1) {
                        layer.msg('删除成功');
                        tableIns.reload();
                    } else {
                        layer.msg('删除失败');
                    }
                }
            });
        }
        // 验证
        form.verify({
            username: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(!new RegExp("^[a-zA-Z0-9_\u4e00-\u9fa5\\s·]+$").test(value)){
                    return '不能有特殊字符';
                }
                if(/(^\_)|(\__)|(\_+$)/.test(value)){
                    return '首尾不能出现下划线\'_\'';
                }
                if(/^\d+\d+\d$/.test(value)){
                    return '不能全为数字';
                }
            }

            //我们既支持上述函数式的方式，也支持下述数组的形式
            //数组的两个值分别代表：[正则匹配、匹配不符时的提示文字]
            ,pass: [
                /^[\S]{6,12}$/
                ,'密码必须6到12位，且不能出现空格'
            ]
        });

        function deleteSelect() {
            var arrdel = JSON.stringify(deleteArr);
            $.ajax({
                type: "post",
                url: "http://localhost:8088/admin/tagdelete",
                dataType: "JSON",
                contentType: "application/json",
                data : JSON.stringify(deleteArr),
                success: function (data) {
                    alert(data);
                    if (data == 1) {
                        layer.msg('删除成功');
                        tableIns.reload();
                    } else {
                        layer.msg('删除失败');
                    }
                }
            });
        }
        /* 提交表单*/
        form.on('submit(dosubmit)',function(obj){
            // alert('ok');
            // 序列化表单数据
            var param = $('#datafrm').serialize();
            alert(param);
        });
        var url;
        var mainIndex;
        /* 新增功能*/
        function openAddUser() {
            mainIndex = layer.open({
                type:1,
                title:'添加用户',
                content:$("#saveAndUpdateDiv"),
                area:['800px'],
                success: function(index) {
                    // 清空表单数据 !!! 记得转jquery对象 js对象
                    $("#datafrm")[0].reset();
                    url = "http://localhost:8088/admin/tagadd";
                }
            });
        }
        /* 编辑功能 */
        function openEditUser(data) {
            mainIndex = layer.open({
                type:1,
                title:'编辑用户',
                content:$("#saveAndUpdateDiv"),
                area:['800px','300px'],
                success: function(index) {
                    form.val('datafrm',data);
                    url = "http://localhost:8088/admin/tagedit";
                }
            });
        }
        /* 提交表单*/
        form.on('submit(dosubmit)', function (obj) {
            // alert(url);
            // 序列化表单数据
            var params = $('#datafrm').serialize();
            $.post(
                url,
                params,
                function (data) {
                    if (data == 1) {
                        layer.msg('更新成功');
                    } else {
                        layer.msg('更新失败');
                    }
                    layer.close(mainIndex);
                    tableIns.reload();
                }
            )
        });
    });
</script>
</body>
</html>
