html,
body {
    background: url("../img/gaming-pattern.png");
}

.foot-class {
    height: 150px;
    color: #F2F2F2;
    position: relative;
    bottom: 0;
    color: #000000;
    text-align: center;
}

.foot-class p {
    color: #000000;
}

.foot-first:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 130px;
    background-color: #000000;
    top: 18px;
    right: 0;
}

.foot-last:after {
    content: '';
    position: absolute;
    width: 2px;
    height: 130px;
    background-color: #000000;
    top: 18px;
    right: 0;
}

.head-title {
    color: #337ab7
}

.tiny-title {
    font-size: 8px;
}

.ques-title {
    margin-top: 25px;
}

.desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.content {
    background-color: #FFFFFF;
    padding-top: 25px;
}

.content-right {
    margin-top: 60px;
}

/* 小导航的定位 */
.m-fixed {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
    padding: 1em;
}
.comment-show {
	margin-top: 20px;
	padding: 50px;
	border: 2px solid #ee8572;
}

.comment {
    margin: 10px 0;
}

.btn-comment {
    float: right;
    margin-bottom: 10px;
}
