html,
body {
	background: url("../img/hypnotize.png");
}
.main {
	margin: 30px;
}@media screen and (max-width: 768px) {
	.main {
		margin: 0px;
	}
	.right-tag {
		display: none;
	}
	.right-type {
		display: none;
	}
	.sousuo {
		display: inline-block;
	}
}
.foot-class {
	height: 150px;
	color: #F2F2F2;
	position: relative;
	bottom: 0;
	color: #000000;
	text-align: center;
}

.foot-class p {
	color: #000000;
}

.foot-first:after {
	content: '';
	position: absolute;
	width: 2px;
	height: 130px;
	background-color: #000000;
	top: 18px;
	right: 0;
}
.foot-last:after {
	content: '';
	position: absolute;
	width: 2px;
	height: 130px;
	background-color: #000000;
	top: 18px;
	right: 0;
}
.head-title {
	color:#337ab7
}
.tiny-title{
	font-size: 8px;
}
.media-object {
	width: 38px;
	height: 38px;
	border-radius: 6px;
}
.blog-tag {
	text-decoration-line: none;
	cursor: pointer;
	display: inline-block;
	height: 20px;
	line-height: 16px;
	padding: 2px 5px;
	background-color: #99cfff;
	font-size: 12px;
	color: #fff !important;
	border-radius: 4px;
	margin: 4px;
}
.blog-tag:hover {
	background-color: #339dff;
	color: #fff !important;
	text-decoration-line: none;
}
