<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:shiro="http://www.w3.org/1999/xhtml">
<head th:fragment="head(title)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:replace="${title}">模板</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/lib/css/edit.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/lib/editormd/css/editormd.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
</head>
<body>
<nav th:fragment="menu" class="navbar navbar-default"
     style="box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 5px rgba(0,0,0,.075);">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" th:href="@{/index}">Lee blog</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left">
                <div class="form-group sousuo">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li shiro:hasPermission="admin:all"><a href="#" th:href="@{/admin/index}">后台管理</a></li>
                <li><a href="#" th:href="@{/user/edit}">
                    <span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;写博客
                </a></li>
                <!-- 跳转登录页, 同时做session判断 -->
                <li th:if="${session.user}==null" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">选择登陆方式 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="https://github.com/login/oauth/authorize?client_id=94c859cbf53a5eed0642&redirect_uri=http://localhost:8088/callback&scope=user&state=1">Github登录</a>
                        </li>
                        <li><a href="#" th:href="@{/user/loginIndex}">登录</a></li>
                        <li><a href="#" th:href="@{/user/registerAdd}">注册</a></li>
                    </ul>
                </li>
                <li th:if="${session.user}!=null" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <img src="../static/img/wechat.jpg" th:src="@{${session.user.avatar}}"
                             style="width: 25px;height: 25px;border-radius: 50%"/>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" th:href="@{/user/loginIndex}">
                            <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;我的空间
                        </a></li>
                        <li><a href="#" th:href="@{/user/logout}">
                            <span class="glyphicon glyphicon-off"></span>&nbsp;&nbsp;退出
                        </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<footer th:fragment="footer" style="width: 100%;margin-top: 25px;">
    <div class="container foot-class">
        <div class="well well-lg">
            <div class="row">
                <div class="col-md-4 foot-first">
                    <img src="../static/img/wechat.jpg" th:src="@{/img/wechat.jpg}" alt="..." class="img-thumbnail"
                         width="188px" height="188px">
                </div>
                <div class="col-md-4 foot-last">
                    <h4>博客设计</h4>
                    <ul class="list-unstyled">
                        <li>关于我</li>
                        <li>1147977489@qq.com</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4>联系我</h4>
                    <ul class="list-unstyled">
                        <li>17724229151</li>
                        <li>1147977489@qq.com</li>
                    </ul>
                </div>
            </div>
            <p>Copyright © Blog design by lixing</p>
        </div>

    </div>
</footer>
</body>
</html>
